<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anc_antenatalcare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectPatientActivity" />
        <activity android:name=".DoctorEmailVerifyActivity" />
        <activity
            android:name=".TreatmentActivity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".LoginDoctorActivity"
            android:parentActivityName=".DocPatDecisionActivity" />
        <activity
            android:name=".SignupDoctorActivity"
            android:parentActivityName=".DocPatDecisionActivity" />
        <activity
            android:name=".DocPatDecisionActivity"
            android:parentActivityName=".SignUpInDecisionActivity" />
        <activity
            android:name=".UltrasoundActivity"
            android:parentActivityName=".InvestigationsActivity" />
        <activity
            android:name=".RoutineInvestigationsActivity"
            android:parentActivityName=".InvestigationsActivity" />
        <activity
            android:name=".InvestigationsActivity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".PregnancyDetailsActivity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".ComplaintsActivity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".ImageSamplesActivity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".AppointmentDatesActivity"
            android:parentActivityName=".AppointmentDatesActivity" />
        <activity
            android:name=".PatientDetails"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".LoginPatientActivity"
            android:parentActivityName=".DocPatDecisionActivity" />
        <activity
            android:name=".SignupPatientActivity"
            android:parentActivityName=".DocPatDecisionActivity" />
        <activity
            android:name=".MainPage"
            android:parentActivityName=".SelectPatientActivity" />
        <activity android:name=".SignUpInDecisionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>